@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  font-style: normal;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 0;
  height: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup--open {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.popup__content {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
  max-width: 440px;
  min-height: 360px;
  padding: 40px 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__close {
  width: 45px;
  height: 45px;
  background-image: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -23px;
  right: -23px;
}

.popup__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #221853;
}

.popup__description {
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  width: 100%;
}

.popup__body hr {
  margin: 0 auto;
  width: 110px;
  height: 8px;
}

.popup__body .popup__content {
  text-align: center;
}

.popup__body .popup__content .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -11px;
  margin-bottom: -11px;
}

.popup__body .popup__content .form > * {
  margin-top: 11px;
  margin-bottom: 11px;
}

.popup__body .popup__content .form__input {
  height: 58px;
  background: #F5F5F5;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.popup__body .popup__content .form__button {
  height: 65px;
  border: 2px solid #FFC444;
  border-radius: 5px;
  width: 100%;
  color: black;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.popup--request-ok .popup__title {
  margin-bottom: 6px;
}

.popup--request-ok .popup__description {
  margin-bottom: 18px;
}

.popup--transfer .popup__title {
  margin-bottom: 18px;
}

.popup--transfer hr {
  margin-bottom: 34px;
}

.popup--selection .popup__title {
  margin-bottom: 18px;
}

.popup--selection hr {
  margin-bottom: 14px;
}

.popup--selection .popup__text {
  width: 300px;
  margin: 0 auto 40px auto;
}

body {
  min-width: 480px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
}

.container {
  width: 440px;
  margin: 0 auto;
}

.container--header {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--menu {
  width: 480px;
  margin: 0 auto;
}

.lock {
  overflow: hidden;
}

.dots {
  width: 114px;
  height: 104px;
  background-image: url(../images/dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  position: relative;
}

hr {
  width: 74px;
  height: 5px;
  border-radius: 5px;
  background-color: #6165D7;
  border: none;
  margin: 0;
}

main {
  margin-top: 38px;
}

.header {
  background: white;
}

.header__inner {
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);
}

.header .logo {
  width: 150px;
  height: 52px;
  background-image: url(../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header .mobile-menu__button {
  width: 46px;
  height: 46px;
  background-image: url(../images/hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header .mobile-menu__button--close {
  background-image: url(../images/hamburger-close.svg);
}

.title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  text-transform: uppercase;
}

.title--services {
  margin-bottom: 71px;
}

.title--white {
  color: white;
}

.banner__image-wrapper {
  width: 386px;
  height: 322px;
}

.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner--404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 71px;
  margin-bottom: 100px;
}

.banner--404 .banner__image-wrapper {
  margin-bottom: 51px;
}

.banner--404 .banner__title {
  font-size: 50px;
  line-height: 61px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 51px;
}

.banner--404 .banner__title span {
  color: #7058D6;
}

.banner--404 .banner__text {
  font-size: 20px;
  margin-bottom: 34px;
}

.banner--404 .banner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--selection {
  background: #FAFAFA;
  border-radius: 5px;
  padding: 25px;
}

.banner--selection .banner__title {
  font-size: 30px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 16px;
}

.banner--selection .banner__title span {
  color: white;
  padding: 5px 15px;
  background-color: #6165D7;
  border-radius: 10px;
}

.banner--about {
  margin-bottom: 81px;
}

.banner--about .banner__image-wrapper {
  margin-bottom: 52px;
}

.banner--about hr {
  margin-bottom: 27px;
}

.banner--why {
  margin-bottom: 70px;
}

.banner--why .banner__image-wrapper {
  margin-bottom: 53px;
}

.banner--why hr {
  margin-bottom: 15px;
}

.banner--work-with {
  margin-bottom: 53px;
}

.banner--work-with .banner__image-wrapper {
  margin-bottom: 50px;
}

.banner--work-with hr {
  margin-bottom: 26px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -11px;
  margin-bottom: 31px;
}

.services > * {
  margin-top: 11px;
  margin-bottom: 11px;
}

.services .service {
  height: 253px;
  -webkit-box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.25);
          box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.25);
  border-radius: 10px;
  background-color: white;
  padding: 17px 27px;
  color: black;
  font-size: 18px;
}

.services .service__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.services .service__title::before {
  content: "";
  width: 88px;
  height: 88px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 16px;
}

.services .service__title--sick-nurse::before {
  background-image: url(../images/service-sick-nurse.svg);
}

.services .service__title--transfer::before {
  background-image: url(../images/service-car.svg);
}

.services .service__title--nurse::before {
  background-image: url(../images/service-nurse.svg);
}

.request {
  background: #FFFFFF;
  margin: 0 21px 146px 21px;
}

.request__image-wrapper {
  margin-bottom: 26px;
}

.request__wrapper {
  position: relative;
}

.request__wrapper .dots {
  position: absolute;
  left: calc(50% - 57px);
  bottom: -40px;
  z-index: -1;
}

.request__form {
  -webkit-box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
          box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 39px;
  text-align: center;
}

.request__form hr {
  margin: 0 auto 29px auto;
}

.request__form .form__title {
  color: #221853;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  margin-bottom: 9px;
  font-weight: 700;
}

.request__form .form__subtitle {
  font-style: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.request__form .form__input {
  border: 1px solid #6165D7;
  padding: 17px;
  border-radius: 5px;
}

.request__form .form__input::-webkit-input-placeholder {
  font-size: 14px;
  color: black;
}

.request__form .form__input:-ms-input-placeholder {
  font-size: 14px;
  color: black;
}

.request__form .form__input::-ms-input-placeholder {
  font-size: 14px;
  color: black;
}

.request__form .form__input::placeholder {
  font-size: 14px;
  color: black;
}

.request__form .form__button {
  padding-top: 19px;
  padding-bottom: 19px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #FFC444;
}

.request__form .form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -11px;
  margin-top: -11px;
}

.request__form .form__wrapper > * {
  margin-bottom: 11px;
  margin-top: 11px;
}

.process {
  margin-bottom: 106px;
}

.process hr {
  margin-bottom: 41px;
}

.process__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -19px;
  margin-bottom: -19px;
}

.process__items > * {
  margin-top: 19px;
  margin-bottom: 19px;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process__item-image-wrapper {
  width: 99px;
  height: 99px;
}

.process__item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.process__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.process__item-index {
  font-weight: 800;
  font-size: 50px;
  color: #8773E9;
  margin-right: 17px;
}

.process__item-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.process__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.features {
  background: #FBFBFB;
  border-radius: 5px;
  margin-right: 21px;
  margin-left: 21px;
  margin-bottom: 60px;
  padding: 47px 25px;
}

.features__subtitle {
  margin-bottom: 56px;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -18px;
  margin-bottom: -18px;
}

.features__items > * {
  margin-top: 18px;
  margin-bottom: 18px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: black;
}

.features__item::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 99px;
  height: 99px;
  margin-right: 20px;
}

.features__item--search::before {
  background-image: url(../images/features-search.svg);
}

.features__item--contract::before {
  background-image: url(../images/features-contract.svg);
}

.features__item--time::before {
  background-image: url(../images/features-time.svg);
}

.features__item--people::before {
  background-image: url(../images/features-people.svg);
}

.features__item--diagnosis::before {
  background-image: url(../images/features-diagnosis.svg);
}

.transfer {
  margin-bottom: 118px;
}

.transfer hr {
  margin-bottom: 43px;
}

.transfer .transfer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -11px;
  margin-bottom: -11px;
}

.transfer .transfer__items > * {
  margin-top: 11px;
  margin-bottom: 11px;
}

.transfer .transfer__items .transfer__item {
  border: 1px solid #E1E1E1;
  border-bottom: 10px solid #FFC444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 28px;
}

.transfer .transfer__items .transfer__item > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.transfer .transfer__items .transfer__item::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 99px;
  height: 99px;
}

.transfer .transfer__items .transfer__item--bed::before {
  background-image: url(../images/transfer-bed.svg);
}

.transfer .transfer__items .transfer__item--car::before {
  background-image: url(../images/transfer-car.svg);
}

.transfer .transfer__items .transfer__item--nurse::before {
  background-image: url(../images/transfer-nurse.svg);
}

.transfer .transfer__items .transfer__item--car2::before {
  background-image: url(../images/transfer-car2.svg);
}

.order-transfer {
  background: #FBFBFB;
  border-radius: 5px;
  padding: 52px 31px 54px 24px;
  margin-bottom: 65px;
}

.order-transfer hr {
  margin-bottom: 40px;
}

.order-transfer__image-wrapper {
  margin-bottom: 40px;
}

.order-transfer__slogan {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  color: black;
  margin-bottom: 27px;
}

.order-transfer__slogan span {
  font-size: 34px;
  line-height: 41px;
  color: #4C458B;
}

.footer__top {
  background-color: #262626;
  padding-bottom: 69px;
  padding-top: 27px;
}

.footer__top .footer-menu {
  padding-bottom: 53px;
}

.footer__top .footer-menu__title {
  color: #FFC444;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.footer__top .footer-menu__title::after {
  content: "";
  background-image: url(../images/plus.svg);
  width: 22px;
  height: 22px;
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__top .footer-menu__title--open {
  border-bottom: none;
}

.footer__top .footer-menu__items {
  border-bottom: 1px solid white;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.footer__top .footer-menu__items--open {
  height: initial;
  opacity: 1;
  visibility: visible;
}

.footer__top .footer-menu__item-link {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  line-height: 45px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.footer__top .footer-menu__item-link:hover {
  color: #FFC444;
}

.footer__top .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -22px;
  margin-bottom: -22px;
}

.footer__top .info > * {
  margin-top: 22px;
  margin-bottom: 22px;
}

.footer__top .info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top .info__item::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.footer__top .info__item--phone::before {
  background-image: url(../images/phone.svg);
}

.footer__top .info__item--worktime::before {
  background-image: url(../images/clock.svg);
}

.footer__top .info__item--address::before {
  background-image: url(../images/pin.svg);
}

.footer__top .info__item--link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.footer__top .info__item--worktime {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.footer__top .info__item--worktime span {
  font-weight: 400;
  font-size: 18px;
}

.footer__top .info__item--address {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.footer__top .info__telegram {
  background-image: url(../images/telegram.svg);
  margin-right: 25px;
}

.footer__top .info__whatsapp {
  background-image: url(../images/whatsapp.svg);
}

.footer__top .info__telegram, .footer__top .info__whatsapp {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 41px;
  height: 41px;
  display: inline-block;
}

.footer__top .info__write-to-whatsapp, .footer__top .info__write-to-telegram {
  height: 60px;
  border: 2px solid #51C65E;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.footer__top .info__write-to-whatsapp {
  border: 2px solid #51C65E;
  color: #51C65E;
  margin-bottom: 22px;
}

.footer__top .info__write-to-whatsapp:hover {
  border: 2px solid #51C65E;
  color: white;
  background-color: #51C65E;
  margin-bottom: 22px;
}

.footer__top .info__write-to-telegram {
  border: 2px solid #53D8FF;
  color: #53D8FF;
}

.footer__top .info__write-to-telegram:hover {
  border: 2px solid #53D8FF;
  background-color: #53D8FF;
  color: white;
}

.footer__top .info__write-to-telegram::before, .footer__top .info__write-to-whatsapp::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
  margin-right: 19px;
}

.footer__top .info__write-to-telegram::before {
  background-image: url(../images/telegram.svg);
}

.footer__top .info__write-to-telegram:hover::before {
  background-image: url(../images/telegram-white.svg);
}

.footer__top .info__write-to-whatsapp::before {
  background-image: url(../images/whatsapp.svg);
}

.footer__top .info__write-to-whatsapp:hover::before {
  background-image: url(../images/whatsapp-white.svg);
}

.footer__bottom {
  padding-bottom: 27px;
}

.footer__bottom .copyright {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -11px;
  margin-bottom: -11px;
}

.footer__bottom .copyright > * {
  margin-top: 11px;
  margin-bottom: 11px;
}

.footer__bottom .copyright__info {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: black;
}

.footer__bottom .copyright__info span {
  color: #8773E9;
}

.button--goto-main, .button--go-back {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--goto-main {
  background-color: #FFC444;
  margin-bottom: 19px;
}

.button--go-back {
  background-color: white;
  border: 2px solid #FFC444;
}

.button--order {
  width: 100%;
  height: 68px;
  background-color: #FFC444;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 9px 9px 0px -2px white, 9px 9px 0px 0px #FFC444;
          box-shadow: 9px 9px 0px -2px white, 9px 9px 0px 0px #FFC444;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.button--order:hover {
  background-color: #6165D7;
  -webkit-box-shadow: 9px 9px 0px -2px white, 9px 9px 0px 0px #6165D7;
          box-shadow: 9px 9px 0px -2px white, 9px 9px 0px 0px #6165D7;
  color: white;
}

.menu {
  position: absolute;
  width: 480px;
  top: -1000px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: white;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);
}

.menu__etc {
  margin-bottom: 191px;
}

.menu__etc-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.menu__etc-link--doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 27px;
}

.menu__etc-link--doc::before {
  content: "";
  width: 32px;
  height: 42px;
  margin-right: 15px;
  background-image: url(../images/doc.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu__etc-link--doc span {
  height: 30px;
  border-bottom: 2px dashed #6165D7;
}

.menu__etc-link--doc:hover {
  color: #8773E9;
}

.menu__etc-link--whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #6165D7;
  border-radius: 5px;
  height: 63px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.menu__etc-link--whatsapp:hover {
  background-color: #6165D7;
  color: white;
}

.menu--open {
  top: 72px;
  opacity: 1;
  visibility: visible;
}

.menu__items {
  background-color: #FFC444;
  margin-bottom: 29px;
}

.menu__item:hover {
  background-color: #FCB721;
  -webkit-box-shadow: 0px 1px 0px 0px #FCB721;
          box-shadow: 0px 1px 0px 0px #FCB721;
}

.menu__item:last-child:hover,
.menu__item:last-child a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu__link {
  height: 58px;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 0px 0px white;
          box-shadow: 0px 1px 0px 0px white;
}

.menu__link:hover {
  background-color: #FCB721;
  -webkit-box-shadow: 0px 1px 0px 0px #FCB721;
          box-shadow: 0px 1px 0px 0px #FCB721;
}

.menu__link--dropdown::after {
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  background-image: url(../images/arrow-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 14px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.menu__link--dropdown-open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu .submenu__items {
  background-color: white;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.menu .submenu__items--open {
  height: initial;
  opacity: 1;
  visibility: visible;
}

.menu .submenu__item:hover {
  background-color: #F4F5FE;
  -webkit-box-shadow: 0px 1px 0px 0px #F4F5FE;
          box-shadow: 0px 1px 0px 0px #F4F5FE;
}

.menu .submenu__item:last-child:hover,
.menu .submenu__item:last-child a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu .submenu__link {
  height: 43px;
  margin-left: 21px;
  margin-right: 21px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 0px 0px #DDDEFF;
          box-shadow: 0px 1px 0px 0px #DDDEFF;
}

.menu .submenu__link:hover {
  background-color: #F4F5FE;
  -webkit-box-shadow: 0px 1px 0px 0px #F4F5FE;
          box-shadow: 0px 1px 0px 0px #F4F5FE;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 31px;
}

.breadcrumbs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  color: #7058D6;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #969696;
}

.breadcrumbs__link::after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
}

.reviews {
  margin-bottom: 112px;
}

.reviews .title {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 43px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -20px;
  margin-bottom: -20px;
}

.reviews__items > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews__item-text {
  font-weight: 500;
  color: black;
  background: #FAFAFF;
  border-radius: 5px;
  padding: 34px 25px;
  margin-bottom: 16px;
}

.reviews__item-author {
  font-size: 16px;
  font-weight: 700;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
}

.faq {
  padding-bottom: 117px;
}

.faq .title {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 43px;
}

.faq__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -15px;
  margin-bottom: -15px;
}

.faq__items > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.faq__item {
  padding: 36px 25px;
  -webkit-box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
          box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
  border-radius: 10px;
}

.faq__item-question {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.faq__item-question::after {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #FFC444;
  background-image: url(../images/close-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.faq__item-answer {
  font-size: 21px;
  line-height: 26px;
  height: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease height;
  transition: 0.3s ease height;
}

.faq__item--open .faq__item-question {
  border-bottom: 2px solid #6165D7;
  padding-bottom: 25px;
}

.faq__item--open .faq__item-question::after {
  background-color: #FF4A4A;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.faq__item--open .faq__item-answer {
  height: initial;
  visibility: visible;
  padding-top: 14px;
}

.vacancies {
  margin-bottom: 128px;
}

.vacancies .title {
  margin-bottom: 43px;
}

.vacancies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -17px;
  margin-bottom: -17px;
}

.vacancies__items > * {
  margin-top: 17px;
  margin-bottom: 17px;
}

.vacancies__item {
  -webkit-box-shadow: 0px 4px 10px rgba(97, 101, 215, 0.2);
          box-shadow: 0px 4px 10px rgba(97, 101, 215, 0.2);
  border-radius: 10px;
  padding: 26px 20px;
}

.vacancies__item-date {
  margin-bottom: 39px;
  color: #7A7A7A;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.vacancies__item-title {
  font-size: 22px;
  font-weight: 700;
  color: black;
  line-height: 27px;
  margin-bottom: 12px;
}

.vacancies__item-money {
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin-bottom: 7px;
}

.vacancies__item-money span {
  color: #8773E9;
  font-size: 24px;
  line-height: 37px;
}

.vacancies__item-where {
  font-weight: 500;
  font-style: 18px;
  color: black;
  margin-bottom: 26px;
}

.vacancies__item-where span {
  color: #8773E9;
}

.vacancies__item-text {
  color: black;
  margin-bottom: 31px;
}

.vacancies__item-button {
  width: 100%;
  height: 65px;
  background-color: #FFC444;
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}

.articles .title {
  margin-bottom: 40px;
}

.articles .filters {
  -webkit-box-shadow: 0px 1px 5px rgba(97, 101, 215, 0.2);
          box-shadow: 0px 1px 5px rgba(97, 101, 215, 0.2);
  border-radius: 5px;
  width: 100%;
}

.articles .filters__button {
  height: 54px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .filters__button::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/sort.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.articles .filters--open .filters__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 23px;
  padding-bottom: 33px;
  border-top: 1px solid #C4C4C4;
}

.articles .filters--open .filters__items .filters__item {
  height: 55px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .filters--open .filters__items .filters__item-select {
  border: none;
  font-weight: 500;
  color: #555555;
  font-size: 16px;
  width: 50%;
  white-space: pre-wrap;
  height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/arrow-bottom-accent.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center right;
}
/*# sourceMappingURL=style.css.map */