@import 'vars';

.copyright {
    
    &__items {
        margin-left: 20px;
        margin-right: 20px;

        padding-top: 32px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 41px;
    
        display: flex;
        flex-direction: column;
        
        margin-top: -11px;
        margin-bottom: -11px;
    
        & > * {
            margin-top: 11px;
            margin-bottom: 11px;
        }
    }
    
    &__item {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: black;

        span {
            color: $accent;
        }
    }

    @media screen and (min-width: $container-width) {

        &__items {
            flex-direction: row-reverse;
            justify-content: space-between;

            margin-left: 0px;
            margin-right: 0px;
        }

        &__item--1 {
            width: 488px;
        }

        &__item--2 {
            width: 354px;
        }

    }
}
