@import 'vars';

.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: block;
}

@media screen and (min-width: $container-width) {
    .hide-on-mobile {
        display: block;
    }    

    .hide-on-desktop {
        display: none;
    }
}

.lock {
    overflow: hidden;
}

.dots {
    width: 114px;
    height: 104px;
    background-image: url(../images/dots.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    position: relative;
}

.slider {


    display: flex;
    align-items: center;
    justify-content: space-between;

    &__prev,
    &__next {
        display: none;
    }

    @media screen and (min-width: $container-width) {
        &__prev,
        &__next {
            display: block;
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }
        
        &__next {
            background-image: url(../images/next.svg);
            margin-left: 63px;
        }
        
        &__prev {
            background-image: url(../images/prev.svg);
            margin-right: 63px;
        }
    }
}

// breadcrumbs ***
.breadcrumbs {
    
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 31px;

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        color: #7058D6;
    }

    &__link {
        text-decoration: none;
        color: $gray;

        &::after {
            content: "/";
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}

@media screen and (min-width: $container-width) {
    .breadcrumbs {
        font-size: 18px;
    }
}

// *** breadcrumbs

.nowrap {
    white-space: nowrap;
}