html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
    
ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

i {
    font-style: normal;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events:none;
    user-select:none;
    width: 0;
    height: 0;
}

@import 'vars';
@import 'fonts';
@import 'popup';
 
body {
    min-width: 480px;
    // overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
}

.container {
    width: 440px;
    margin: 0 auto;

    &--header {
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--menu {
        width: 480px;
        margin: 0 auto;
    }

}

.lock {
    overflow: hidden;
}

.dots {
    width: 114px;
    height: 104px;
    background-image: url(../images/dots.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    position: relative;
}

hr {
    width: 74px;
    height: 5px;
    border-radius: 5px;
    background-color: $bg-accent;
    border: none;
    margin: 0;
}

main {
    margin-top: 38px;
}

// header ***
.header {
    background: white;

    &__inner {
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);
    }

    .logo {
        width: 150px;
        height: 52px;   
        background-image: url(../images/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mobile-menu__button {
        width: 46px;
        height: 46px;
        background-image: url(../images/hamburger.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.3s ease all;

        &--close {
            background-image: url(../images/hamburger-close.svg);
        }
    }
}

// *** header

.title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    font-family: $font2;
    color: black;
    text-transform: uppercase;

    &--services {
        margin-bottom: 71px;
    }

    &--white {
        color: white;
    }
}

// banner ***

.banner {
    &__image-wrapper {
        width: 386px;
        height: 322px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &--404 {
        display: flex;
        flex-direction: column;
        margin-top: 71px;
        margin-bottom: 100px;

        .banner {
            &__image-wrapper {
                margin-bottom: 51px;
            }

            &__title {
                font-size: 50px;
                line-height: 61px;
                font-weight: 800;
                text-transform: uppercase;
                font-family: $font2;
                margin-bottom: 51px;
    
                span {
                    color: #7058D6;
                }
            }        
    
            &__text {
                font-size: 20px;
                margin-bottom: 34px;
            }

            &__links {
                display: flex;
                flex-direction: column;
            }
        }

    }

    &--selection {
        background: #FAFAFA;
        border-radius: 5px;
        padding: 25px;

        .banner__title {
            font-size: 30px;
            line-height: 47px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $font2;
            margin-bottom: 16px;

            span {
                color: white;
                padding: 5px 15px;
                background-color: $bg-accent;
                border-radius: 10px;
                // text-transform: lowercase;
            }
        }

    }


    &--about {

        margin-bottom: 81px;

        .banner__image-wrapper {
            margin-bottom: 52px;
        }

        hr {
            margin-bottom: 27px;
        }
    }

    &--why {
        margin-bottom: 70px;        

        .banner__image-wrapper {
            margin-bottom: 53px;
        }

        hr {
            margin-bottom: 15px;
        }
    }

    &--work-with {
        margin-bottom: 53px;

        .banner__image-wrapper {
            margin-bottom: 50px;
        }

        hr {
            margin-bottom: 26px;
        }
    }
}

// *** banner 

// services ***
.services {
    display: flex;
    flex-direction: column;
    
    // row-gap: 22px;
    margin-top: -11px;
    margin-bottom: 31px;
    // margin-bottom: 42px;

    & > * {
        margin-top: 11px;
        margin-bottom: 11px;
    }

    .service {
        height: 253px;
        box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.25);
        border-radius: 10px;
        background-color: white;
        padding: 17px 27px;
        color: black;
        font-size: 18px;
    
        &__title {
            font-family: $font2;
            font-size: 20px;
            font-weight: 700;
            display: flex;
            align-items: center;
            margin-bottom: 17px;

            &::before {
                content: "";
                width: 88px;
                height: 88px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 16px;

            }

            &--sick-nurse::before {
                background-image: url(../images/service-sick-nurse.svg);
            }
            &--transfer::before {
                background-image: url(../images/service-car.svg);
            }
            &--nurse::before {
                background-image: url(../images/service-nurse.svg);
            }

        }
    }

}
// *** services

// request **
.request {
    background: #FFFFFF;
    
    margin: 0 21px 146px 21px;

    &__image-wrapper {
        margin-bottom: 26px;
    }

    &__wrapper {

        position: relative;

        .dots {
            position: absolute;
            left: calc(50% - 57px);
            bottom: -40px;
            z-index: -1;
        }

    }

    &__form {
        box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
        border-radius: 10px;

        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 39px;

        text-align: center;

        hr {
            margin: 0 auto 29px auto;
        }

        .form {
            
            &__title {
                color: $purple;
                font-family: $font2;
                font-size: 20px;
                margin-bottom: 9px;
                font-weight: 700;
            }

            &__subtitle {
                font-style: 16px;
                line-height: 20px;
                margin-bottom: 24px;
            }

            &__input {
                border: 1px solid $bg-accent;
                padding: 17px;
                border-radius: 5px;

                &::placeholder {
                    font-size: 14px;
                    color: black;
                }
            }

            &__button {
                padding-top: 19px;
                padding-bottom: 19px;
                color: black;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                border-radius: 5px;
                border: 1px solid $yellow;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                // row-gap: 22px;

                margin-bottom: -11px;
                margin-top: -11px;

                & > * {
                    margin-bottom: 11px;
                    margin-top: 11px;
                }
            }
        }
    
    }
   
}
// request ***


// *** process
.process {

    margin-bottom: 106px;


    hr {
        margin-bottom: 41px;
    }


    &__items {
        display: flex;
        flex-direction: column;
        // row-gap: 38px;

        margin-top: -19px;
        margin-bottom: -19px;

        & > * {
            margin-top: 19px;
            margin-bottom: 19px;
        }

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-image-wrapper {
            width: 99px;
            height: 99px;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &-description {
            display: flex;
            align-items: center;
            font-family: $font2;
        }

        &-index {
            font-weight: 800;
            font-size: 50px;
            color: $accent;
            margin-right: 17px;
        }

        &-text {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
    }

    &__item:nth-child(even) {
        flex-flow: row-reverse;
    }
}
// process ***

// features ***
.features {
    background: #FBFBFB;
    border-radius: 5px;
    margin-right: 21px;
    margin-left: 21px;
    margin-bottom: 60px;

    padding: 47px 25px;


    &__subtitle {
        margin-bottom: 56px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        // row-gap: 36px;

        margin-top: -18px;
        margin-bottom: -18px;

        & > * {
            margin-top: 18px;
            margin-bottom: 18px;
        }

    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: black;
    }

    &__item::before {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 99px;
        height: 99px;
        margin-right: 20px;
    }

    &__item--search::before {
        background-image: url(../images/features-search.svg);
    }
    &__item--contract::before {
        background-image: url(../images/features-contract.svg);
    }
    &__item--time::before {
        background-image: url(../images/features-time.svg);
    }
    &__item--people::before {
        background-image: url(../images/features-people.svg);
    }
    &__item--diagnosis::before {
        background-image: url(../images/features-diagnosis.svg);
    }

}
// *** features


// transfer ***
.transfer {

    margin-bottom: 118px;

    hr {
        margin-bottom: 43px;
    }

    .transfer__items {

        display: flex;
        flex-direction: column;
        // row-gap: 22px;
        margin-top: -11px;
        margin-bottom: -11px;

        & > * {
            margin-top: 11px;
            margin-bottom: 11px;
        }

        .transfer__item {
            border: 1px solid #E1E1E1;
            border-bottom: 10px solid $yellow;
            box-sizing: border-box;
            border-radius: 5px;
            height: 293px;

            display: flex;
            flex-direction: column;
            //row-gap: 30px;

            // margin-top: -15px;
            // margin-bottom: -15px;
    
            & > * {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            padding: 35px 28px;

            &::before {
                content: "";
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 99px;
                height: 99px;
            }

            &--bed::before {
                background-image: url(../images/transfer-bed.svg);
            }
            &--car::before {
                background-image: url(../images/transfer-car.svg);
            }
            &--nurse::before {
                background-image: url(../images/transfer-nurse.svg);
            }
            &--car2::before {
                background-image: url(../images/transfer-car2.svg);
            }
        }
        
    }    
}
// *** transfer

// *** order-transfer
.order-transfer {

    background: #FBFBFB;
    border-radius: 5px;
    padding: 52px 31px 54px 24px;
    margin-bottom: 65px;

    hr {
        margin-bottom: 40px;
    }

    &__image-wrapper {
        margin-bottom: 40px;
    }

    &__slogan {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        color: black;
        margin-bottom: 27px;

        span {
            font-size: 34px;
            line-height: 41px;
            color: #4C458B;
        }
    }
}
// order-transfer ***


.footer {
    &__top {
        background-color: #262626;
        padding-bottom: 69px;
        padding-top: 27px;
        
        .footer-menu {
            padding-bottom: 53px;
    
            &__title {
                color: $yellow;
                font-family: $font2;
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 12px;
                padding-bottom: 12px;
    
                cursor: pointer;
    
                border-bottom: 1px solid white;
    
                &::after {
                    content: "";
                    background-image: url(../images/plus.svg);
                    width: 22px;
                    height: 22px;
                    background-size: 22px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
    
                &--open {
                    border-bottom: none;
                }
            }
    
            &__items {
                border-bottom: 1px solid white;
                
                height: 0;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease all;
    
                &--open {
                    height: initial;
                    opacity: 1;
                    visibility: visible;
                }
            }
    
            &__item {
    
                &-link {
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    text-decoration: none;
                    line-height: 45px;
                    transition: 0.3s ease all;
                }

                &-link:hover {
                    color: $yellow;
                }
            }
    
        }

        .info {

            display: flex;
            flex-direction: column;
            // row-gap: 44px;

            margin-top: -22px;
            margin-bottom: -22px;

            & > * {
                margin-top: 22px;
                margin-bottom: 22px;
            }

            &__item {

                display: flex;
                align-items: center;

                &::before {
                    content: "";
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                }

                &--phone::before {
                    background-image: url(../images/phone.svg);
                }
                &--worktime::before {
                    background-image: url(../images/clock.svg);
                }
                &--address::before {
                    background-image: url(../images/pin.svg);
                }

                &--link {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 20px;
                }

                &--worktime {
                    font-weight: 600;
                    font-size: 20px;
                    color: white;

                    span {
                        font-weight: 400;
                        font-size: 18px;
                    }
                }

                &--address {
                    color: white;
                    font-weight: 400;
                    font-size: 20px;
                }

            }

            &__telegram {
                background-image: url(../images/telegram.svg);
                margin-right: 25px;
            }
            &__whatsapp {
                background-image: url(../images/whatsapp.svg);
            }

            &__telegram,
            &__whatsapp {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 41px;
                height: 41px;
                display: inline-block;
            }

            &__write-to-whatsapp,
            &__write-to-telegram {
                height: 60px;
                border: 2px solid #51C65E;
                border-radius: 5px;
                font-weight: 700;
                font-size: 18px;
                text-decoration: none;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: 0.3s ease all;
            }

            &__write-to-whatsapp {
                border: 2px solid #51C65E;
                color: #51C65E;
                margin-bottom: 22px;
            }
            &__write-to-whatsapp:hover {
                border: 2px solid #51C65E;
                color: white;
                background-color: #51C65E;
                margin-bottom: 22px;
            }
            
            &__write-to-telegram {
                border: 2px solid #53D8FF;
                color: #53D8FF;
            }
            &__write-to-telegram:hover {
                border: 2px solid #53D8FF;
                background-color: #53D8FF;
                color: white;
            }


            &__write-to-telegram::before,
            &__write-to-whatsapp::before {
                content: "";
                background-position: center;
                background-repeat: no-repeat;
                background-size: 32px;
                width: 32px;
                height: 32px;
                margin-right: 19px;
            }
                
                
            &__write-to-telegram::before {
                background-image: url(../images/telegram.svg);
            }
            &__write-to-telegram:hover::before {
                background-image: url(../images/telegram-white.svg);
            }
                
            &__write-to-whatsapp::before {
                background-image: url(../images/whatsapp.svg);
            }
            &__write-to-whatsapp:hover::before {
                background-image: url(../images/whatsapp-white.svg);
            }


        }
    }

    &__bottom {
        padding-bottom: 27px;

        .copyright {
            
            padding-top: 32px;

            display: flex;
            flex-direction: column;
            // row-gap: 22px;

            margin-top: -11px;
            margin-bottom: -11px;

            & > * {
                margin-top: 11px;
                margin-bottom: 11px;
            }


            &__info {
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                color: black;

                span {
                    color: $accent;
                }
            }

        }
    }

}

.button {

    &--goto-main,
    &--go-back {
        width: 100%;
        height: 75px;
        border-radius: 5px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &--goto-main {
        background-color: $yellow;
        margin-bottom: 19px;
    }

    &--go-back {
        background-color: white;
        border: 2px solid $yellow;
    }

    &--order {
        width: 100%;
        height: 68px;
        background-color: $yellow;
        color: black;
        font-family: $font2;
        font-weight: 700;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: 
                    9px 9px 0px -2px white,
                    9px 9px 0px 0px $yellow;
        transition: .3s ease all;
    }

    &--order:hover {
        background-color: $bg-accent;
        box-shadow: 
                    9px 9px 0px -2px white,
                    9px 9px 0px 0px $bg-accent;
        color: white;
    }

}

// menu ***

.menu {

    position: absolute;
    width: 480px;
    top: -1000px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease all;
    background-color: white;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.08);

    &__etc {
        margin-bottom: 191px;

        &-link {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: 600;

            &--doc {
                
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 27px;

                &::before {
                    content: "";

                    width: 32px;
                    height: 42px;
                    margin-right: 15px;

                    background-image: url(../images/doc.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                span {
                    height: 30px;
                    border-bottom: 2px dashed $bg-accent;
                }

                &:hover {
                    color: $accent;
                }
                
            }

            &--whatsapp {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid $bg-accent;
                border-radius: 5px;

                height: 63px;
                transition: 0.3s ease all;
            }

            &--whatsapp:hover {
                background-color: $bg-accent;
                color: white;
            }
        }
    }

    &--open {
        top: 72px;
        opacity: 1;
        visibility: visible;
    }

    &__items {
        background-color: $yellow;
        margin-bottom: 29px;
    }

    &__item {
        &:hover {
            background-color: #FCB721;
            box-shadow: 0px 1px 0px 0px #FCB721;
        }
    }

    &__item:last-child:hover,
    &__item:last-child a {
        box-shadow: none;
    }

    &__link {
        height: 58px;
        margin-left: 21px;
        margin-right: 21px;

        font-size: 18px;
        color: black;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        box-shadow: 0px 1px 0px 0px white;

        &:hover {
            background-color: #FCB721;
            box-shadow: 0px 1px 0px 0px #FCB721;
        }

        &--dropdown::after {
            display: block;
            width: 14px;
            height: 14px;
            content: "";
            background-image: url(../images/arrow-bottom.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 14px;
            transition: 0.3s ease all;
        }

        &--dropdown-open::after {
            transform: rotate(180deg);
        }
    }

    .submenu {

        &__items {
            background-color: white;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease all;

            &--open {
                height: initial;
                opacity: 1;
                visibility: visible;
            }
        }

        &__item {
            &:hover {
                background-color: #F4F5FE;
                box-shadow: 0px 1px 0px 0px #F4F5FE;
            }
        }

        &__item:last-child:hover,
        &__item:last-child a {
            box-shadow: none;
        }

        

        &__link {
            height: 43px;
            margin-left: 21px;
            margin-right: 21px;
            font-size: 15px;
            font-weight: 500;
            color: black;
            text-decoration: none;

            display: flex;
            align-items: center;
            justify-content: center;

            box-shadow: 0px 1px 0px 0px #DDDEFF;

            &:hover {
                background-color: #F4F5FE;
                box-shadow: 0px 1px 0px 0px #F4F5FE;
            }
        }

    }
}

// *** menu

// breadcrumbs ***
.breadcrumbs {
    
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 31px;

    &__items {
        display: flex;
    }

    &__item {
        color: #7058D6;
    }

    &__link {
        text-decoration: none;
        color: $gray;

        &::after {
            content: "/";
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}
// *** breadcrumbs

// reviews ***

.reviews {

    margin-bottom: 112px;

    .title {
        font-size: 30px;
        font-weight: 700;
        color: black;
        margin-bottom: 43px;
    }


    &__items {
        display: flex;
        flex-direction: column;

        margin-top: -20px;
        margin-bottom: -20px;

        & > * {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }

    &__item {
        &-text {
            font-weight: 500;
            color: black;
            background: #FAFAFF;
            border-radius: 5px;
            padding: 34px 25px;
            margin-bottom: 16px;
        }

        &-author {
            font-size: 16px;
            font-weight: 700;
            color: black;
            font-family: $font2; 
        }
    }

}

// *** reviews


// faq ***
.faq {
    
    padding-bottom: 117px;

    .title {
        font-size: 30px;
        font-weight: 700;
        color: black;
        margin-bottom: 43px;
    }

    &__items {

        display: flex;
        flex-direction: column;

        margin-top: -15px;
        margin-bottom: -15px;

        & > * {
            margin-top: 15px;
            margin-bottom: 15px;
        }


    }

    &__item {

        padding: 36px 25px;
        box-shadow: 0px 4px 10px rgba(135, 115, 233, 0.2);
        border-radius: 10px;

        &-question {
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            font-family: $font2;
            color: black;

            display: flex;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            &::after {
                content: "";
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background-color: $yellow;
                background-image: url(../images/close-white.svg);
                background-position: center;
                background-repeat: no-repeat;
                transform: rotate(45deg);
                transition: 0.3s ease all;

                flex-shrink: 0;
            }
        }

        &-answer {
            font-size: 21px;
            line-height: 26px;

            height: 0;
            visibility: hidden;
            transition: 0.3s ease height;
        }

        &--open {
            .faq__item-question {

                border-bottom: 2px solid $bg-accent;
                padding-bottom: 25px;

                &::after {
                    background-color: #FF4A4A;
                    transform: rotate(0);
                }
            }

            .faq__item-answer {
                height: initial;
                visibility: visible;
                padding-top: 14px;
            }

        }

    }

}
// *** faq

// vacancies ***
.vacancies {
    
    margin-bottom: 128px;

    .title {
        margin-bottom: 43px;
    }

    &__items {
        display: flex;
        flex-direction: column;

        margin-top: -17px;
        margin-bottom: -17px;

        & > * {
            margin-top: 17px;
            margin-bottom: 17px;
        }
    }

    &__item {
        box-shadow: 0px 4px 10px rgba(97, 101, 215, 0.2);
        border-radius: 10px;
        padding: 26px 20px;

        &-date {
            margin-bottom: 39px;
            color: #7A7A7A;
            font-size: 18px;
            font-weight: 500;
            text-align: right;
        }

        &-title {
            font-size: 22px;
            font-weight: 700;
            color: black;
            line-height: 27px;
            margin-bottom: 12px;
        }
    
        &-money {
            font-weight: 500;
            font-size: 18px;
            color: black;
            margin-bottom: 7px;
            span {
                color: $accent;
                font-size: 24px;
                line-height: 37px;
            }
        }
    
        &-where {
            font-weight: 500;
            font-style: 18px;
            color: black;
            margin-bottom: 26px;

            span {
                color: $accent;
            }
        }

        &-text {
            color: black;
            margin-bottom: 31px;
        }

        &-button {
            width: 100%;
            height: 65px;
            background-color: $yellow;
            color: black;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 5px;
        }


    
    }



}
// *** vacancies

// articles ***
.articles {

    .title {
        margin-bottom: 40px;
    }

    .filters {
        box-shadow: 0px 1px 5px rgba(97, 101, 215, 0.2);
        border-radius: 5px;
        width: 100%;

        &__button {
            height: 54px;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;

            font-weight: 700;
            color: black;
    
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: "";
                width: 24px;
                height: 24px;
                background-image: url(../images/sort.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &--open {
            .filters__items {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-left: 15px;
                margin-right: 15px;

                padding-top: 23px;
                padding-bottom: 33px;

                border-top: 1px solid #C4C4C4;

                //  margin-top: -7px;
                //  margin-bottom: -7px;

                //  & > * {
                //      margin-top: 7px;
                //      margin-bottom: 7px;
                //  }


                .filters__item {

                    height: 55px;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-select {
                        border: none;
                        font-weight: 500;
                        color: #555555;
                        font-size: 16px;
                        width: 50%;
                        white-space: pre-wrap;
                        height: 40px;

                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;

                        background-image: url(../images/arrow-bottom-accent.svg);
                        background-repeat: no-repeat;
                        background-size: 14px;
                        background-position: center right;

                    }
                }
            }
        }

    }

}
// *** articles